<app-auth-base
  title="Sign up"
  subtitle="Create a new account"
  imgSrc="../../../assets/images/seebandw.jpg"
  imgTitle="Let’s Build Something Amazing Together!"
  imgSubtitle="Create your account today and start exploring a world of endless opportunities."
>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <div class="mb-3 row">
      
      <div class="col-6">

        <input
          type="text"
          id="form3Example1"
          class="form-control form-control-lg w-100 fs-9"
          formControlName="firstName"
          placeholder="firstName"
        />
        <div
          *ngIf="
            signupForm.get('firstName')!.invalid &&
            signupForm.get('firstName')!.touched
          "
          class="text-danger"
        >
          <div *ngIf="signupForm.get('firstName')!.errors?.['required']">
            First name is required.
          </div>
        </div>
      </div>

      
      <div class="col-6 ">
              <input
        type="text"
        id="form3Example2"
        class="form-control form-control-lg w-100 fs-9"
        formControlName="lastName"
        placeholder="lastName"
      />
      <div
        *ngIf="
          signupForm.get('lastName')!.invalid &&
          signupForm.get('lastName')!.touched
        "
        class="text-danger"
      >
        <div *ngIf="signupForm.get('lastName')!.errors?.['required']">
          Last name is required.
        </div>
      </div>

      </div>

    </div>

    <div class="mb-3">
      <input
        type="email"
        class="form-control form-control-lg w-100 fs-9"
        id="InputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email"
        formControlName="email"
      />
      <div
        *ngIf="
          signupForm.get('email')!.invalid && signupForm.get('email')!.touched
        "
        class="text-danger"
      >
        Please enter a valid email.
      </div>
    </div>

    <div class="mb-3">
      <app-password-input
        formControlName="password"
        placeholder="password"
      ></app-password-input>
      <div
        *ngIf="
          signupForm.get('password')!.invalid &&
          signupForm.get('password')!.touched
        "
        class="text-danger"
      >
        Password is required.
      </div>
      <div *ngIf="signupForm.get('password')!.errors?.['minlength']">
        Password must be at least 6 characters long.
      </div>
    </div>

    <div class="mb-3">
      <app-password-input
        formControlName="repeatPassword"
        placeholder="repeatPassword"
      ></app-password-input>
      <div
        *ngIf="
          signupForm.get('repeatPassword')!.invalid &&
          signupForm.get('repeatPassword')!.touched
        "
        class="text-danger"
      >
        repeatPassword is required.
      </div>
      <div *ngIf="signupForm.errors?.['mismatch']">Passwords do not match.</div>
    </div>

    <button
      class="btn btn-lg fw-bold btn-primary mb-4 w-100 p-3"
      style="font-size: 0.85rem"
      [disabled]="signupForm.invalid"
    >
      Sign in
    </button>

    <div class="d-flex justify-content-center fs-9 fw-semibold">
      <p class="text-muted">have an account?</p>
      <span (click)="navigateToLogin()" class="txt-ligthprimary ms-1 d-inline-block cursor-pointer text-decoration-underline">Go to Login</span>
    </div>
    
  </form>
</app-auth-base>
