.txt-ligthprimary{
  color: rgb(94, 114, 228);
}

a {
  text-decoration: none; 
  cursor: pointer; 
}

.login-box {
  width: 410px;
}

.cursor-pointer{
  cursor: pointer;
}

.form-control-lg {
  border-color: rgb(210, 214, 218) !important;
  color: rgba(0, 0, 0, 0.767) !important;
  font-weight: 400;
        font-size: 16px !important; 
        padding: 10px !important;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3) !important;
    font-size: 14px !important;
  }
}

.form-control-lg:focus {
  border-color: rgb(182, 196, 211) !important;
  box-shadow: 2px 2px 2px rgba(0, 57, 163, 0.158);
}

@media (max-width: 480px) {
  .mb-3.row {
    display: block;
    .col-6{
      width: 100%; 
      margin-bottom: 10px;
    }
  }
}

.btn {
  background: rgb(94, 114, 228);
}

.fs-9 {
  font-size: 0.9rem;
}
