.txt-primary {
  color: rgb(52, 71, 103);
}

.txt-secondary {
  color: rgb(103, 116, 142);
}
.txt-ligthprimary{
  color: rgb(94, 114, 228);
}

a {
  text-decoration: none; 
  cursor: pointer; 
}

@media (min-height: 1000px) and (max-width: 1100px) {
  .scaled-container {
    transform: scale(1.5);
  }
}

.custom-input{

}

.login-box {
  width: 410px;
}

@media (max-width: 1201px) {
  .login-box {
    width: 340px;
    margin-left: 9%;
  }
}

@media (max-width: 992px) {
  .login-box {
    width: 365px;
    margin-left: 0%;
  }
}

@media (max-width: 767px) {
  .login-box {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .login-box {
    width: 90%;
  }
}

@media (min-width: 1400px) {
  .perml {
    padding-right: 11%;
  }
}
@media (min-width: 1550px) {
  .perml {
    padding-right: 0px;
  }
}
@media (max-width: 1201px) {
  .perml {
    padding-right: 5rem;
  }
}
@media (max-width: 1201px) {
  .perml {
    padding-right: 0rem;
  }
}

@media (max-width: 992px) {
  .full-width9 {
    width: 100%;
  }
}

.form-control-lg {
  border-color: rgb(210, 214, 218) !important;
  color: rgba(0, 0, 0, 0.767) !important;
  font-weight: 400;
        font-size: 16px !important; // سایز فونت نوشته بزرگ می‌شود
        padding: 10px !important;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3) !important;
    font-size: 14px !important;
  }
}

.form-control-lg:focus {
  border-color: rgb(182, 196, 211) !important;
  box-shadow: 2px 2px 2px rgba(0, 57, 163, 0.158);
}

.custom-switch {
  width: 2.5rem !important;
  height: 1.4rem !important;
  margin-right: 14px;
  margin-bottom: 4px;
}

.btn {
  background: rgb(94, 114, 228);
}
.custom-switch:checked {
  background-color: rgb(94, 114, 228) !important;
}

.dynamic-img {
  object-fit: cover;
  object-position: 50% 0%;
  scale: (0.97);
  transition: object-position 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@media (max-width: 1200px) {
  .dynamic-img {
    object-position: 50% 40%;
  }
}

.fs-9 {
  font-size: 0.9rem;
}
