.table-container {
  max-height: 400px;
  overflow-y: auto;
  @media (max-width: 767px) {
    padding: 0 !important;
  }
}

.card {
  border-radius: 20px;
  background: #ffffff83;
  padding: 10px;
  @media (max-width: 767px) {
    margin: 0 !important;
    .btn {
      font-size: 10px;
      border-radius: 8px;
      padding: 6px 8px;
    }
  }
}

.btn {
  font-size: 15px;
  border-radius: 10px;
  padding: 10px 16px;
  transition: all 0.3s ease;
  font-weight: bold;
}

.btn-primary:hover {
  background: linear-gradient(135deg, #2c4875, #0d1b36);
}

.form-control {
  border-radius: 10px;
  border: none;
  padding: 12px;
  background: #ffffff;
}

.form-control:focus {
  border-radius: 16px;
  background: #d1d1d10c;
  box-shadow: inset 2px 2px 5px #c8d0e7, inset -2px -2px 5px #ffffff;
}

.modal-content {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);

  .form-control:focus {
    background: #ffffff;
    box-shadow: inset 2px 2px 5px #ddfaff;
  }
}

.mobile {
  padding: 0px !important;
  .card {
    border-radius: 0px;
    border: none;
    background: #ffffff83;
    border-bottom: 2px solid rgb(179, 179, 179);
  }

}

@media (min-width: 1100px) {
  .fs-5-xl {
    font-size: 1.15rem;
  }
}

.mob-edit{
.form-control {
  border-radius: 10px;
  border: none;
  padding: 12px;
  background: #6e6e6e2c;
}

.form-control:focus {
  border-radius: 16px;
  background: #5e5e5e0c;
  box-shadow: inset 2px 2px 5px #c8d0e7, inset -2px -2px 5px #ffffff;
}

}
.btn {
  transition: all 0.3s ease;
  font-size: 14px;
  border-radius: 8px;
}

.btn-sm {
  padding: 8px 10px;
  font-size: 12px;
}
